<div class="content_wrapper">
  <div class="header_wrapper">
    <div class="page_header">
      <h1>Pages</h1>
      <div class="create_button"><%= link_to '+ Create page', new_admin_page_path %></div>
    </div>
  </div>
  <div class="page_wrapper">
    <div class="page_content">
      <div class="table_wrapper">
        <table cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <td class="left">slug</td>
              <td>created_at</td>
            </tr>
          </thead>
          <tbody>
            <%= render @pages %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
