$main_color: #333333;
$dark_bg: #263238;

$main_fonts: Roboto,"Helvetica Neue",sans-serif;

html, body{
  height: 100%;
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  color: $main_color;
  font-family: $main_fonts;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  text-decoration: none;
}

h1, h2, h3{
  margin: 0;
  padding: 0;
  font-weight: normal;
}


// #37474F

#wrapper{
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;

  .page-container{
    display: table-row;
  }

  .sidebar{
    width: 260px;
    display: table-cell;
    vertical-align: top;
  }

  .content{
    width: 100%;
    display: table-cell;
    vertical-align: top;
  }
}

.sidebar{
  background: $dark_bg;

  .profile_item{
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    color: #ffffff;
    position: relative;

    .email{
      line-height: 60px;
      padding: 0 10px;
    }

    a{
      position: absolute;
      vertical-align: middle;
      right: 10px;
      top: 50%;
      margin-top: -11px;
      color: #ffffff;
    }

    // a{
    //   margin-top: 10px;
    //   display: block;
    // }
  }
}


ul.sidebar-list{
  li{

    a{
      padding: 20px 10px;
      color: rgba(255,255,255,.75);
      display: block;

      .material-icons{
        width: 36px;
        margin-top: -3px;
        float: left;
      }

      &:after{
        content: '〉';
        display: inline-block;
        vertical-align: top;
        float: right;
        font-size: 12px;
        margin-top: 4px;
      }
    }

    &:hover, .active{
      background-color: rgba(0,0,0,.2);

      a{
        color: #ffffff;
      }
    }
  }
}

// ---------------------------- CATEGORIES ----------------------------
#categories{
  margin: 20px;

  ul{
    width: 200px;
    border: 1px solid #000;

    li:first-of-type{
      border-top: none;
    }
  }

  li{
    position: relative;
    border-top: 1px solid #000;
    cursor: pointer;

    .target_link{
      padding: 10px;
    }

    &:hover{
      background: #efefef;
    }
  }

  ul.base_category{}
  ul.parent_category{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    margin: 5px;
  }
}
