<%= popup_wrapper %>

<div class="content_wrapper">
  <div class="header_wrapper">
    <div class="page_header">
      <h1>Categories</h1>
    </div>
  </div>
  <div class="page_wrapper">
    <div class="page_content">
      <input type="hidden" value="<%= @categories_json %>" id="categories_data">
      <div id="categories"></div>
    </div>
  </div>
</div>
