<%= popup_wrapper %>

<div class="content_wrapper">
  <div class="header_wrapper">
    <div class="page_header">
      <h1><%= tt(:categories, :title) %></h1>
    </div>
  </div>
  <div class="page_wrapper">
    <div class="page_content">
      <input type="hidden" value="<%= @categories_json %>" id="categories_data">
      <div id="categories" data-nested-level-limit="<%= Category::NESTED_LEVEL_LIMIT %>"></div>
    </div>
  </div>
</div>
