<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= stylesheet_link_tag    'admin/admin_application', media: 'all' %>
  <%= javascript_include_tag 'admin/admin_application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
